body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: #111;
  color: #fff;
  padding: 40px;
}

section {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

footer {
  background: #111;
  color: #fff;
  padding: 10px;
}
